<html>
  <head>
    <title>Source code highlighter</title>
  </head>
  <style>
   textarea { width: 98%; min-height: 20em }
   #preview { background-color: <%= @bgcolor %>; width: 98%; padding: 1em; }
  </style>
  <body>
    <h1>Source code highlighter</h1>

    <form action="/" method="POST">
      <p><label for="code">Code</label></p>
      <textarea name="code"><%= @code unless @code.nil? || @code.empty? %></textarea>
      <p>
        <label for="bgcolor">BG color:</label> <input type="text" name="bgcolor" value="<%= @bgcolor %>">
        <select name="theme" id="theme">
          <% THEMES.each do |theme| %>
            <option value="<%= theme %>" <%= "selected='selected'" if theme == @theme %> >
              <%= theme %>
            </option>
          <% end %>
        </select>
        <select name="language" id="language">
          <% LANGS.each do |lang| %>
            <option value="<%= lang[1] %>" <%= "selected='selected'" if lang[1] == @language %>><%= lang[0] %></option>
          <% end %>
        </select>
        <button type="submit">Submit</button>
      </p>
    </form>
    <xmp>&nbsp;</xmp>
    <% if @parsed_code %>
      <div id="preview">
        <pre><%= @parsed_code %></pre>
      </div>
      <textarea name="parsed_code"><%= @parsed_code %></textarea>
      <xmp><%= @parsed_code %></xmp>
    <% end %>
  </body>
</html>
